<div class="grid-row">
  <div class="grid-col">
    {{ivy-codemirror 
      value=code 
      options=(hash lineNumbers=true mode="javascript" theme="ambiance")
      valueUpdated=(action (mut code))
    }}
    {{ivy-codemirror 
      value=ast 
      options=(hash mode=jsonMode theme="ambiance" foldGutter=true readOnly=true)}}
  </div>
  <div class="grid-col">
    {{ivy-codemirror value=nodeApi options=(hash lineNumbers=true mode="javascript" theme="ambiance" autoIndent=true readOnly=true)}}
    {{ivy-codemirror value=output options=(hash lineNumbers=true mode="javascript" theme="ambiance" readOnly=true)}}
  </div>
</div>
