<div class="grid-col">
  <div class="grid-row">
    <div class="editor">
      {{ivy-codemirror 
        value=code 
        options=(hash 
        lineNumbers=true 
        mode=mode 
        matchBrackets=true
        theme=theme)
        valueUpdated=(action (mut code))
      }}
    </div>
  <div class="gutter"></div>
    <div class="editor">

      {{ivy-codemirror value=nodeApi options=(hash 
        lineNumbers=true 
        mode="javascript" 
        theme=theme 
        matchBrackets=true
        autoIndent=true )}}
    
    </div>
  </div>
  <div class="gutter"></div>
  <div class="grid-row">
    <div class="editor">
      {{ivy-codemirror 
        value=ast 
        options=(hash 
        mode=jsonMode 
        theme=theme 
        foldGutter=true 
        lineNumbers=true
        lineWrapping=true
        gutters=gutters
      )}}
    </div>
  <div class="gutter"></div>
    <div class="editor">
      {{ivy-codemirror value=output options=(hash 
        lineNumbers=true 
        mode=mode 
        theme=theme )}}
    </div>
  </div>
</div>
