@import 'normalize.css';

body {
  font-family: sans-serif;
}

header {
  display: grid;
  grid-template-columns: 200px 1fr 200px;
}

h1 {
    margin: .25em 0;
  }

nav ul {
  display:flex;
}

nav ul li {
  list-style: none;
  margin:0 10px;
}

nav ul li a.active {
  background: #000;
  color: #fff;
}

a {
  text-decoration: none;
  padding: .25em;
}

footer p {
  text-align:center;
}


.grid-row {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 5px;
}

.grid-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 5px;
}
