<header>
  <h1>ast-builder</h1>
</header>
<main>
  {{outlet}}
</main>
<footer>
  <p>
  <a href="https://github.com/rajasegar/ast-builder">Github</a> |
  <a href="https://github.com/rajasegar/ast-builder/issues">Report issues</a> 
  </p>
</footer>

