<header>
  <h1>ast-builder</h1>
  <p>Build your ASTs directly from code</p>
</header>
<main>
  {{outlet}}
</main>
<footer>
  <p><a href="https://github.com/rajasegar/ast-builder">Github</a></p>
</footer>

